/*
Theme Name: GSCSW.org
Theme URI: http://www.southernwebgroup.com
Description: Custom theme built for GSCSW.org
Author: Southern Web Group
Author URI: http://www.southernwebgroup.com
Version: 2.0
*/

/* ----- Reset ----- */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,a img{border:none;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}

/* ----- Body/Wrapper ----- */

html, body {
	background: url(ui/bg_body.jpg) repeat #eaeaea;
	color: #333;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 13px;
	width: 100%;
	height: 100%;
}

#wrapper {
	width: 100%;
	height: 100%;
	display: table;
	background: url(ui/bg_wrapper.jpg) top center no-repeat #eaeaea;
}

.container {
	width: 960px;
	margin: 0 auto;
}

/* ----- Global Styles ----- */

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	margin: 10px 0;
	font-family: "liberation-serif",serif;
}

h1 {
	font-size: 1.8em;
	color: #686868;
	border-bottom: 4px solid #e0e0e0;
	line-height: 1.4em;
}

h2 {
	font-size: 1.5em;
	color: #1c4b8a;
    margin-top: 20px;
}

h3 {
	font-size: 1.4em;
	color: #686868;
}

h4,h5,h6 {
	font-size: 1.2em;
	font-weight: 700;
}

p {
	margin: 10px 0;
	line-height: 1.5em;
}

ul,
ol {
	margin: 10px;
}

	li {
		line-height: 1.5em;
		margin-left: 15px;

	}

		li ul,
		li ol {
			margin: 5px;
		}

	ul li {
		list-style: disc;
	}

		li ul li {
			list-style: circle;
		}

			li li ul li {
				list-style: square;
			}

	ol li {
		list-style: decimal;
	}

		li ol li {
			list-style: upper-alpha;
		}

			li li ol li {
				list-style: lower-roman;
			}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

a:link, a:visited {
	color: #2260a2;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	color: #205c9b;
	text-decoration: underline;
}

blockquote {
	border-left: solid 2px #777;
	margin: 10px 15px;
	padding-left: 10px;
}

address {
	margin: 10px 0;
}

pre {
	background: #e3e3e3;
	border: solid 1px #737373;
	font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
	font-size: .9em;
	margin: 10px 0;
	padding: 15px;
}

hr {
	border: none;
	border-top: dotted 2px #CCC;
	clear: both;
	margin: 20px 0;
}

/* ----- Helper Classes ----- */

.clear {
	clear: both;
}

.clearfix:before,.clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; /* For IE 6/7 */ }


.hide {
	display: none;
}



/* ----- Header ----- */

#header {
	border-top: 2px solid #375194;
}



#header .container {
	background: url(ui/bg_header_lg2.png) 0 11px no-repeat transparent;
	height: 180px;
}

#header #tools {
	width: 585px;
	height: 50px;
	float: right;
}

#header #social_btns, #header #social_btns li {
	margin: 0 0;
	padding: 0 0;
	list-style: none;
}

#header #social_btns li {
	display: inline;
	float: left;
	margin: 8px 8px 0 0;
}

#header #social_btns li a {
	display: block;
	overflow: hidden;
	height: 33px;
	width: auto;

}

#header #social_btns li a span {
    display: inline-block;
    vertical-align: middle;
    padding-left:0.7em;
    font-size: 16px;
    font-weight: 700;
}

#header #social_btns li a .fa {
    font-size: 34px;
    display: inline-block;
    vertical-align: middle;
}

#header #social_btns li.twitter a {
	background-position: -44px 0;
}

#header #social_btns li.facebook a:hover {
	background-position: 0 -34px;
}

#header #social_btns li.twitter a:hover {
	background-position: -44px -34px;
}

#header .search_form {
	width: 210px;
	float: left;
	margin: 7px 0 0 0;
	position: relative;
	height: 31px;
    visibility: hidden;
    display: none;
}

.search-form {
	position: relative;
	width: 173px;
	height: 28px;
}

	.search-input {
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		border: 1px solid #DDD;
	    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
		font-size: 13px;
		height: 18px;
		line-height: 18px;
		padding: 7px 28px 7px 10px;
		width: 173px;
	}

	.search-form:hover .search-input,
	.search-input:focus {
		background-color: #f8f8f8;
	}

	.search_submit {
		background: url('ui/icon_search.png') 0 8px no-repeat;
		border: none;
		cursor: pointer;
		position: absolute;
			right: 1px;
			top: 1px;
		text-indent: -9999px;
		width: 26px;
		height: 31px;
	}

	.search_submit:hover,
	.search_submit:focus {
		background-position: -30px 8px;
	}

#header #tools a.login_btn {
	width: 190px;
	height: 46px;
	line-height: 46px;
	display: block;
	float: right;
	text-align: center;
	color: #fff;
	background: url(ui/button_bg.png) repeat transparent;
	font-family: "liberation-serif",serif;
	font-size: 18px;
	text-transform: uppercase;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

#header #tools a.login_btn:hover {
	text-decoration: none;
	color: #dfdfdf;
}

	#logo {
		height: 170px;
		width: 200px;
		float: left;
	}
		#logo a {
			display: block;
			outline: none;
			text-indent: -9999px;
			height: 170px;
			width: 200px;
		}


/* ----- Navigation ----- */

#header .menu-header-container {
	float: right;
}

#menu-header {
	height: 50px;
	margin: 0 30px 0 0;
	position: relative;
	z-index: 100;
}

	#menu-header li {
		list-style: none;
		margin-left: 0;
		position: relative;
	}

	#menu-header > li {
		display: inline;
		float: left;
	}

		#menu-header a {
			display: block;
			outline: none;
			text-decoration: none;
			font-family: "liberation-serif",serif;
			font-size: 14px;
			text-transform: uppercase;
			color: #6d747d;
		}

		#menu-header > li > a {
			float: left;
			height: 50px;
			line-height: 50px;
			padding: 17px 0 0 0;
		}

		#menu-header > li > a span {
			border-right: 1px solid #ccc;
			padding: 0 18px;
		}

		#menu-header > li:first-child > a span {
			border-left: 1px solid #ccc;
		}

		#menu-header > li > a:hover,
		#menu-header > li > a:focus,
		#menu-header > li > a:active {
			background: url(ui/bg_nav_hover.gif) repeat-x transparent;
			color: #1c4b8a;
		}

		#menu-header > .current_page_item > a {

		}

	/* Sub Menus */

	#menu-header .sub-menu {
		background: #FFF;
		display: none;
		position: absolute;
			top: 50px;
			left: 0;
		z-index: 100;
	}

	#menu-header li:hover .sub-menu {
		display: block;
	}

		#menu-header .sub-menu li {
		}

			#menu-header .sub-menu a {
				padding: 10px;
			}

			#menu-header .sub-menu a:hover,
			#menu-header .sub-menu a:focus,
			#menu-header .sub-menu a:active {
			}

				#menu-header .sub-menu .sub-menu {
					top: 0;
				}



/* ----- General ----- */

a.button {
	display: inline-block;
	padding: 5px 20px;
	margin: 0 auto;
	background: #194287;
	color: #fff !important;
	text-decoration: none;

	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#main {
	background: #fff;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 1px 2px #dfdfdf;
}

#content {
	float: right;
	margin: 10px 30px 20px 0;
	width: 620px;
}

	#content img {
		background: #f8f8f8;
		border: solid 1px #d3d3d3;
		padding: 4px;
	}

	#content img.nostyle {
		background: none;
		border: none;
		padding: 0;
	}

    #content table th,
    #content table td {
        padding: 5px 10px;
    }

    #content table th {
        font-weight: bold;
    }

    #content table td.WADAResultsNavButtonCell {
	    padding: 0 3px;
    }

    #content .WADAResultsNavigation {
	    border: 1px solid #eee;
	    background: #f7f7f7;
    }

#content ul.reading_list li {
	list-style: none;
	display: inline;
	float: left;
	margin: 0 0 15px 0;
	padding: 0 0;
	width: 150px;
}

#content input.btn {
	font-family: 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
	font-size: 13px;
	min-width: 110px;
	height: 25px;
	border: 0px;
	background: #15508f;
	color: #fff;
	border-radius: 4px;
	padding: 0 8px;
}

#content input.btn:hover {
	background: #2260A2;
}

#content .field {
	width: 220px;
}

table tr.directory_head th {
	background: #15508f;
	color: #fff;
}

table td {
	line-height: 1.5em;
}

/* ----- Front Page ----- */

.home #content {

}

#slider {
	margin: 20px auto 10px auto;
	height: 400px;
	width: 900px;
}

#slider img.alignright {
	border: 1px solid #ccc;
}

.slide h2 {
	/* font-size: 28px; the normal font size, commented out only for the Joint Spring Conference Event */
	font-size: 24px;
	border-bottom: 4px solid #eaeaea;
}

.slide {
	width: 905px;
	height: 400px;
}

.slide .inner {
	width: 260px;
	float: left;
}

.slide .slide_image {
	width: 600px;
	height: 380px;
	float: right;
	position: relative;
}

.slide .slide_caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(ui/bg_caption.png) 0 -60px repeat-x transparent;
	padding: 6px 15px;
	color: #fff;
}

.conference-button {
	display: block;
	width: 260px;
	height: 54px;
	margin: 20px 0;
	text-indent: -9999px;
	background: url(ui/read-more.jpg) left top no-repeat;
}

/* ----- About Page ----- */
.board-member-container {
	width: 100%;
}

.board-member-row {
	border-bottom: solid 1px #e8e8e8;
	padding: 1em;
	width: 95%;
}

.board-member-row:after {
	clear: both;
	content: '';
	display: block;
}

.board-member-column {
	float: left;
	font-size: 14px;
	padding-right: 25px;
	width: 31%;
}

.board-member-column img {
	display: block;
	width: 85%;
}

.board-member-img-column {
	width: 25%;
}

.board-member-title, .board-member-email {
	padding-top: 1.5em;
}

.board-member-title {
	font-size: 15px;
	font-weight: bold;
}

.board-member-name {
	padding-top: .5em;
}

.board-member-phone {
	padding-top: .5em;
}

.image-spacer {
	height: 1px;
	width: 100%;
}



/* ----- Supervision ----- */

#wp-table-reloaded-id-1-no-1 td.column-1 {
    width: 200px;
}


/* ----- Event Calendar ----- */

#ai1ec-container {
	margin: 15px 0;
}


/* ----- Sidebar ----- */

#sidebar {
	float: left;
	margin: 30px 0 30px 30px;
	width: 270px;
	background: url(ui/bg_sidebar.png) right -40px transparent no-repeat;
	*height: 646px;
	min-height: 646px;
}

#menu-sidebar {
	width: 220px;
	margin: 0;
	position: relative;
	z-index: 100;
}

	#menu-sidebar li {
		list-style: none;
		margin-left: 0;
		position: relative;
		display: block;
	}

	#menu-sidebar > li {
		display: block;
	}

		#menu-sidebar a {
			display: block;
			outline: none;
			text-decoration: none;
			font-family: "liberation-serif",serif;
			font-size: 15px;
			color: #ced6e1;
			padding: 0 10px 0 20px;
		}

		#menu-sidebar > li > a {
			height: 50px;
			line-height: 50px;
			background: url(ui/bg_side_nav.png) repeat-x 0 -50px;
		}

		#menu-sidebar > li:first-child > a {
			border-radius: 0px 12px 0px 0px;
			-moz-border-radius: 0px 12px 0px 0px;
			-webkit-border-radius: 0px 12px 0px 0px;
		}

		#menu-sidebar > li:hover > a,
		#menu-sidebar > li > a:hover,
		#menu-sidebar > li > a:focus,
		#menu-sidebar > li > a:active {
			background: url(ui/bg_side_nav.png) repeat-x 0 0;
			color: #fff;
		}

		#menu-sidebar > .current_page_item > a {

		}

	/* Sub Menus */

	#menu-sidebar .sub-menu {
		background: #4f5961;
		display: none;
		position: absolute;
			top: 0;
			left: 220px;
		z-index: 100;
		margin: 0 0;
	}

	#menu-sidebar li:hover .sub-menu {
		display: block;
	}

		#menu-sidebar .sub-menu li {
		}

			#menu-sidebar .sub-menu a {
				padding: 10px;
				color: #ddd;
			}

			#menu-sidebar .sub-menu a:hover,
			#menu-sidebar .sub-menu a:focus,
			#menu-sidebar .sub-menu a:active {
				background: #57616a;
			}

				#menu-sidebar .sub-menu .sub-menu {
					top: 0;
				}


/* ----- Member Directoy ----- */
.member-head {
	color: #fff;
	background-color: #15508f;
	padding: .5em;
}

.member-head:after, .member-row:after {
	content: "";
	clear: both;
	display: block;
}

.member-row {
	clear: both;
	padding: .5em;
}

.member-row:nth-of-type(even) {
	background-color: #f8f8f8;
}

.member-row:hover {
	background-color: #eee;
}

.member-50 {
	width: 50%;
	float: left;
}

.member-profile hr {
	clear: both;
}

.member-card-top {
	margin: 1.5em auto;
}

.member-card-top:after {
	clear: both;
	content: "";
	display: block;
}

.profile-left {
	float: left;
	width: 25%;
}

.profile-left img {
	display: block;
	width: 85%;
}

.profile-right {
	float: left;
	width: 72%;
}

.profile-right h2 {
	margin-top: 0;
}

/* ----- Footer ----- */

#footer {
	color: #999;
	clear: both;
	padding: 20px 0;
	font-family: "liberation-serif",serif;
	font-weight: 400;
	line-height: 1.7em;
}

	#footer a {
		color: #1e538d;
	}

	#footer .right_col {
		float: right;
		width: 400px;
		text-align: right;
	}

	#footer .left_col {
		float: left;
		width: 400px;
		text-align: left;
		padding: 0 0 0 70px;
		min-height: 80px;
		*height: 80px;
		background: url(ui/bg_footer_logo.png) no-repeat 0 0 transparent;
	}

	#footer strong, #footer span.tel {
		font-family: "liberation-serif",serif;
		font-weight: 400;
		color: #1e538d;
	}

/* ----- Videos Page ----- */
.videos-page iframe{
	display: block;
	margin: 0 auto;
}

.video-description {
	color: #3D75BB;
	font-size: 1.5em;
	font-weight: bold;
}

.videos-page hr {
	margin: 35px 0 30px 0;
}

.login-message {
	font-size: 1.5em;
}

/* ----- Gravity Forms ----- */

.gfield_label {
	margin-top: 1em;
	display: block;
}

#gform_8 #field_8_6 li, #gform_8 #field_8_29 li, #gform_8 #field_8_28 li {
	display: inline-block;
	width: 49.5%;
}

.speciality-field {
	clear: both;
	display: inline-block;
	padding: .5em;
	width: 100%;
}

.speciality-field label {
	display: block;
	float: left;
	width: 40%;
}

.speciality-field li label {
	display: none !important;
}

li.speciality-field:after {
	clear: both;
	content: " ";
	display: block;
}

.speciality-field:nth-of-type(odd) {
	background: #f5f5f5;
	border-bottom: solid 1px #dedede;
	border-top: solid 1px #dedede;
}

.speciality-field .ginput_container {
	display: block;
	float: left;
	width: 60%;
}

.speciality-field .ginput_container .gfield_radio li {
	display: inline-block;
	width: 50%;
}

.empty-specialty-header {
	border-bottom: none !important;
	clear: none !important;
	display: block;
	float: left;
	width: 39%;
}

.specialty-header {
	border-bottom: none !important;
	clear: none !important;
	display: block;
	float: left;
	width: 30%;
}

.image-upload {
	margin: 1em auto !important;
}

/* ----- Find A Therapist ----- */

#search {
	color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 1em 0;
    padding: 1em .5em;
    width: 70%;
}

.no-results-found {
	color: #969696;
	display: none;
	font-size: 1.3em;
	margin: 1em 0;
}

/* ----- WordPress Images ----- */

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft {
	float: left;
	margin: 0 15px 5px 0;
}
.alignright {
	float: right;
	margin: 0 0 5px 15px;
}
.wp-caption {
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 10px;
	padding-top: 4px;
	text-align: center;
}
.wp-caption img {
	border: 0 none;
	margin: 0;
	padding: 0;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}


.gform_wrapper ul.gfield_checkbox li, .gform_wrapper ul.gfield_radio li {
	overflow: visible !important;
}